/** HEADER */

#header {
  width: 100%;
  background-color: transparent;
  transition: background ease-out 0.4s;
}

#header.active {
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

#header .navbar-nav a.active_a {
  color: var(--melon) !important;
  border-bottom: solid 4px var(--melon);
  transition: border-bottom 0.5s, color 0.5s;
}
#header .navbar-nav a.active_a:hover {
  border-bottom: solid 4px var(--blue-violet);
  color: var(--blue-violet) !important;
}

#header .navbar-collapse {
  width: auto;
}

#header .nav-link {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  border-bottom: solid 4px transparent;
  transition: border-bottom 0.5s, color 0.5s;
}

#header .nav-link:hover {
  border-bottom: solid 4px var(--blue-violet);
  color: var(--blue-violet) !important;
}

#header .border-end,
.border-bottom {
  border-color: var(--blue-violet) !important;
}

#header a {
  white-space: nowrap;
}

#header .navbar-toggler {
  border-color: var(--blue-violet);
  color: var(--blue-violet);
}

#header .navbar-toggler-icon {
  background-image: url(../assets/svg/toggler_icon.svg);
}

/** /HEADER */

/* ! FULLSCREEN SEARCH  */

#header .openBtn {
  background: transparent;
  border-radius: 50%;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

#header .overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

#header .overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

#header .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: var(--melon);
}

#header .overlay .closebtn:hover {
  color: var(--blue-violet);
}

#header .overlay input[type="text"] {
  font-size: 18px;
  border: none;
  border-radius: 40px;
  float: left;
  width: 80%;
  background: var(--pink-lace);
}

#header .overlay input[type="text"]:focus {
  box-shadow: none;
  outline: none;
}

#header .overlay button {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  color: var(--blue-violet);
  background: var(--pink-lace);
  font-size: 17px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: ease-in-out background-color 0.3s;
}

#header .overlay button:hover {
  background-color: var(--blue-violet);
  color: var(--pink-lace);
}

/* ! /FULLSCREEN SEARCH  */

/*? CARROUSEL */

.carousel-control-prev-icon {
  background-image: url(../assets/svg/carousel-control-prev-icon.svg);
}

.carousel-control-next-icon {
  background-image: url(../assets/svg/carousel-control-next-icon.svg);
}

#carousel {
  border-top: 0.3rem solid var(--blue-violet);
  border-bottom: 0.3rem solid var(--blue-violet);
  background-color: var(--pink-lace);
}

#carousel .carousel-indicators [data-bs-target] {
  background-color: var(--blue-violet);
}

/*? /CARROUSEL */

/*! POSTS */

#posts .card {
  border: none;
}

#posts .card-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

#posts .badge {
  font-weight: 400;
}

#posts .element-item img {
  border-radius: 5px;
  transition: all ease-out 0.2s;
}

#posts .element-item img:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

#posts .button-group button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

#posts .button-group button:focus {
  outline: none;
  box-shadow: none;
}

#posts .button-group button + button {
  margin-left: 1em;
}

#posts .button-group button.active {
  color: var(--melon);
}

#registrationPosts label,
#editPost label {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

#registrationPosts #inputScope,
#editPost #inputScope {
  height: 10em;
}

#myPosts .card-body > p,
#posts .card-body > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#myPosts a {
  font-family: "Cormorant Garamond";
  color: var(--blue-violet);
}

.tokenfield .token {
  border: 2px solid var(--blue-violet);
  background-color: var(--blue-violet);
  color: var(--pink-lace);
  white-space: nowrap;
  margin: 5px 5px 5px 0;
  padding: 10px;
  height: 30px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.tokenfield {
  display: flex !important;
}

a.close {
  font-size: 1.8em !important;
  color: var(--pink-lace);
  text-decoration: none;
  display: flex !important;
  align-items: center;
}

/*!/ POSTS */

/*// QUEM SOMOS? */

#quemSomos p {
  max-width: 25em;
}

/*// /QUEM SOMOS? */

/*? DEPOIMENTOS  */

#depoimentos p {
  max-width: 25em;
}

#depoimentos .depoimento {
  background-color: var(--pink-lace);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#depoimentos .depoimento .quote {
  max-width: 35px;
}

#depoimentos .depoimento .name {
  color: #aaaaaa;
}

#depoimentos .depoimento .name span {
  color: #000;
  font-weight: 700;
}

/*? /DEPOIMENTOS  */

/** CONTATO */

#contato {
  background: rgba(61, 31, 117, 0.2);
  box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#contato #mensagem {
  height: 10em;
}

#contato .form-control {
  background: transparent;
  border: 2px solid var(--blue-violet);
}

#contato .form-control:focus {
  box-shadow: 0 0 0 0.15rem var(--blue-violet);
}

/** /CONTATO */

/* ?REGISTRATION */

#registration,
#login {
  background-color: var(--blue-violet);
}

#first-content,
#second-content,
#registration .content::before,
#login .content::before {
  transition: ease-in-out 0.5s;
}

#registration .content,
#login .content {
  background-color: var(--pink-lace);
  position: relative;
  border: 4px solid var(--pink-lace);
  border-radius: 10px;
}

#larger {
  transition: ease-in 0.5s;
  width: 75%;
}

#registration .content::before {
  content: "";
  position: absolute;
  width: 33%;
  height: 100%;
  background-color: var(--blue-violet);
  z-index: 1;
  left: 67%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#login .content::before {
  content: "";
  position: absolute;
  width: 33%;
  height: 100%;
  background-color: var(--blue-violet);
  z-index: 1;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#registration .first-column,
#login .first-column {
  z-index: 2;
}

#registration .btn,
#login .btn {
  border-radius: 10px;
}

#registration ul li,
#login ul li {
  border: 1px solid var(--blue-violet);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  list-style-type: none;
}

#registration a li,
#login a li {
  color: var(--blue-violet);
  transition: background-color 0.5s;
}

#registration a li:hover,
#login a li:hover {
  color: var(--pink-lace);
  background-color: var(--blue-violet);
}

#registration form input,
#login form input {
  height: 3em;
  border: none;
  background-color: var(--pink-lace);
}

input#inlineRadio1,
input#inlineRadio2,
input#inlineRadio3 {
  background-color: var(--blue-violet) !important;
  height: 1em !important;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

/* ?/REGISTRATION & LOGIN*/

/** FAQ */

#faq {
  background-color: var(--blue-violet);
  width: 100%;
}
#faq .row {
  border-radius: 20px;
  background-color: var(--pink-lace);
  width: 80%;
}

#faq .btn-group-vertical > .btn,
.btn-group > .btn {
  white-space: normal;
}

#faq .button {
  border-color: var(--blue-violet) !important;
  background-color: var(--blue-violet);
  color: white;
  border-radius: 5px;
  box-shadow: var(--blue-violet);
  transition: background-color 0.5s, color 0.5s;
}

#faq .button:hover {
  background-color: var(--pink-lace);
  color: var(--blue-violet);
}

/** /FAQ */

/*TODO | PAGE PROFILE */

#profilePage .footerProfile p,
#editProfile .footerProfile p {
  color: black;
}

#profilePage .footerProfile strong,
#editProfile .footerProfile strong {
  color: var(--blue-violet);
}

#editProfile .content,
#editPost .content {
  position: relative;
}

#profilePage .perfil-foto,
#editProfile .perfil-foto {
  width: 50%;
  border-radius: 50%;
}

#editProfile .overlay,
#editPost .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--blue-violet);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

#editProfile .content:hover .overlay,
#editPost .content:hover .overlay {
  bottom: 0;
  height: 100%;
}

#editProfile .text,
#editPost .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#editProfile #alterarFoto,
#editPost #alterarFoto {
  color: var(--pink-lace);
  text-decoration: none;
}

#profilePage hr,
#editProfile hr {
  border: solid 2px var(--blue-violet);
}

#editProfile input#inputFile,
#editPost input.inputFile {
  border-radius: 50px;
  background: var(--pink-lace);
  outline: none;
  width: auto;
}

#editProfile input#inputFile::-webkit-file-upload-button,
#editPost input.inputFile::-webkit-file-upload-button {
  color: white;
  background-color: var(--blue-violet);
  padding: 20px;
  border: none;
  border-radius: 50px;
}

#editProfile .form-check-input:checked {
  background-color: var(--blue-violet);
  border-color: var(--blue-violet);
}
#editProfile .form-check-input:focus {
  box-shadow: none;
}

#editProfile .col-form-label {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 1.25rem !important;
}

/*TODO | /PAGE PERFIL */

/* ? USERS VIEW */
#usersView {
  background-color: var(--blue-violet);
}

#usersView table.table,
#postsSituation table.table {
  height: 60vh;
  color: #fff;
}
#usersView table th,
#postsSituation table th {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}
/* ? /USERS VIEW */

/** CONTACT VIEW */

#contactView table th {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

/** /CONTACT VIEW */

/*! FOOTER */

#footer h3 {
  color: var(--blue-violet) !important;
}

#footer a {
  text-decoration: none;
}

#footer a h2 {
  text-decoration: none;
  border-bottom: 4px solid transparent;
  color: #212529;

  transition: color 0.5s;
  transition: border-bottom 0.5s;
}

#footer a h2:hover {
  text-decoration: none;
  border-bottom: 4px solid var(--blue-violet);
  color: var(--blue-violet);
}

#footer p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  width: 13em;
}

/*! /FOOTER */

/** ÍCONES */

.wrapper .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.wrapper .icon span {
  height: 60px;
  width: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: var(--pink-lace);
  background-color: var(--blue-violet);
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .icon .tooltip {
  top: 0px;
  background-color: var(--blue-violet);
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  color: var(--pink-lace);
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: 70px;
  opacity: 1;
  pointer-events: auto;
}

.wrapper .icon .tooltip::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--blue-violet);
  top: -7px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1 0px rgba(0, 0, 0, 0.4);
}

/** /ÍCONES */
