body, html {
    font-family:'Lato', sans-serif;
}

::selection {
    background-color: var(--secondary);
    color: var(--tertiary);
}

/** HEADER */

#header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
    border-bottom: solid 4px var(--primary);
    color: var(--primary)!important;
}

#header .border-end, .border-bottom {
    border-color: var(--primary)!important;
}

#header .fa-2x {
    color: var(--primary);
}

/** /HEADER */

/*? CARROUSEL */

#carousel .carousel {
    background-color: var(--primary);
}

/*? /CARROUSEL */

/*/ QUEM SOMOS? */

#quemSomos p {
    font-family:'Lato', sans-serif;
    font-weight: 400;
    max-width: 25em;
}

#quemSomos h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

/*/ /QUEM SOMOS? */

/** CONTATO */

#contato h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

#contato p {
    font-family:'Lato', sans-serif;
    font-weight: 400;
}

#contato .icones {
    color: var(--primary);
}

#contato .btn-outline-dark {
    color: var(--primary);
    border-color: var(--primary);
}

#contato .btn-outline-dark:hover {
    background-color: var(--secondary);
    color: var(--tertiary);
}

/** /CONTATO */

/*! FOOTER */

#footer h3 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    color: var(--primary)!important;
}

#footer h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

#footer a {
    text-decoration: none;
}

#footer a h2{
    text-decoration: none;
    border-bottom: 4px solid transparent;
}

#footer a h2:hover{
    text-decoration: none;
    border-bottom: 4px solid var(--primary);
    color: var(--primary);
}

#footer .icones a {
    color: var(--primary);
}

#footer h5, p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

#footer p {
    width: 13em;
}

#footer {
        border-top: 3px solid var(--primary)!important;
}

/*! /FOOTER */