* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

::selection {
  background-color: var(--melon);
  color: var(--midnight-blue);
}

/* ? FONTS */

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

/* ? /FONTS */

/* !BUTTONS */

.btn-outline-dark {
  border-color: var(--blue-violet);
  background-color: var(--blue-violet);
  color: var(--pink-lace);
  transition: background-color 0.5s;
}

.btn-outline-dark:hover {
  border-color: var(--blue-violet);
  color: var(--blue-violet);
  background-color: var(--pink-lace);
}

.btn-outline-dark:focus,
.btn:focus {
  box-shadow: none;
}

.btn-primary {
  background-color: var(--blue-violet);
  color: white;
  border-color: var(--blue-violet);
  transition: background-color 0.5s, color 0.5s;
}

.btn-primary:hover {
  background-color: var(--pink-lace);
  color: var(--blue-violet);
  border-color: var(--blue-violet);
}

.btn-outline-primary {
  border-color: var(--pink-lace);
  color: var(--pink-lace);
  transition: background-color 1s;
}

.btn-outline-primary:hover {
  border-color: var(--blue-violet);
  color: var(--blue-violet);
  background-color: var(--pink-lace);
}
.btn-outline-secondary {
  border-color: var(--blue-violet)!important;
  color: var(--blue-violet);
  border: 1px solid var(--blue-violet)!important;
  transition: background-color 1s;
}

.btn-outline-secondary:hover {
  border-color: var(--pink-lace)!important;
  color: var(--pink-lace);
  background-color: var(--blue-violet)!important;
}


.btn-secondary,
.dropdown-menu-dark {
  color: #fff;
  background-color: transparent;
  border-color: var(--pink-lace);
  width: 10em;
}

a.dropdown-item:active {
  background-color: var(--pink-lace)!important;
  border-color: var(--blue-violet);
}

.btn-secondary:hover {
  background: var(--pink-lace);
  border: solid 2px var(--blue-violet);
  color: var(--blue-violet);
}

.btn-secondary:focus {
  background: var(--pink-lace);
  border: solid 2px var(--blue-violet);
  color: var(--blue-violet);
}

ul.dropdown-menu.dropdown-menu-start, .dropdown-menu-dark {
  background: var(--blue-violet);
  width: 13em;
  border: solid 2px var(--pink-lace);
}

hr.dropdown-divider, hr.dropdown-menu-dark {
  background-color: var(--pink-lace);
}

/* ! /BUTTONS */

/** ÍCONES */

.icones {
  color: var(--blue-violet);
  transition: color 0.5s;
}
/** /ÍCONES */