/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #first-content, #second-content {
    width: 100% !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #larger {
    width: 100% !important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #registration .content::before {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0px;
    width: 100%;
    left: 0%;
    top: 0%;
    height: 43%;
  }

  #logo_footer {
    width: 25% !important;
  }

  /* Img Contact-Us */
  #img_contactUs {
    display: none;
  }

  #login .content::before {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    width: 100%;
    left: 0%;
    top: 0%;
    height: 43%;
  }

  #perfilPage .perfil-foto {
  width: 100%;
}
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
