/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #first-content,
  #second-content {
    width: 100% !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  #larger {
    width: 100% !important;
  }

  #depoimentos .depoimento {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
  }

  #depoimentos .depoimento-texto {
    order: 2 !important;
  }

  #depoimentos .w-25.rounded-circle {
    width: 50% !important;
    margin-bottom: 1rem !important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #registration .content::before {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0px;
    width: 100%;
    left: 0%;
    top: 0%;
    height: 43%;
  }

  #logo_footer {
    width: 25% !important;
  }

  /* Img Contact-Us */
  #img_contactUs {
    display: none;
  }

  #login .content::before {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    width: 100%;
    left: 0%;
    top: 0%;
    height: 43%;
  }

  #perfilPage .perfil-foto {
    width: 100%;
  }

  #Blog-post-bro {
    display: none;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
